Source: pt-os-ui-mods
Section: x11
Priority: optional
Maintainer: pi-top <deb-maintainers@pi-top.com>
Build-Depends:
 debhelper-compat (= 12),
 dh-sequence-python3,
Standards-Version: 4.5.1

Package: pt-os-ui-mods
Architecture: all
Conflicts:
 raspberrypi-ui-mods,
Breaks:
 pixflat-theme,
Replaces:
 pixflat-theme,
Depends:
 ${misc:Depends},
 ${python3:Depends},
 ${shlibs:Depends},
# postinst
 adduser,
 notify-send-ng,
 desktop-file-utils,
 fonts-piboto,
# Further desktop file's 'start-further' command
 further-link,
 libglib2.0-bin,
 lightdm,
 lxpanel,
 lxsession,
 openbox,
 pt-os-notifications,
 pt-os-icon-theme,
 pcmanfm,
 policykit-1,
# Required for .desktop file
 python3-pitop-doc,
 python3-notify2,
 raspberrypi-sys-mods,
 x11-xserver-utils,
 xserver-xorg,
 zenity,
# from raspberrypi-ui-mods
 xdg-user-dirs,
 wayfire,
 wf-panel-pi,
 qtwayland5,
 mate-polkit-bin,
 xsettingsd,
Recommends:
 agnostics,
 cups,
 gnome-icon-theme,
 gtk2-engines-clearlookspix,
 gtk2-engines-pixbuf,
 gtk2-engines-pixflat,
 gui-pkinst,
 lxplug-bluetooth,
 lxplug-cputemp,
 lxplug-ejecter,
 lxplug-magnifier,
 lxplug-network,
 lxplug-ptbatt,
 lxplug-updater,
 lxplug-volumepulse,
 onboard,
 pi-greeter,
 pi-printer-support,
 pt-os-quit-options,
 raspi2png,
 rc-gui (>=1.18),
 rp-bookshelf,
 scrot,
 system-config-printer,
 xserver-xorg-video-fbturbo,
 grim,
 lxinput,
 lxplug-menu,
 lxplug-netman,
 pipanel,
 pixflat-icons,
 qt5-style-plugins,
 qt5ct,
 wayvnc,
 xwayland,
Description: pi-topOS LXDE UI Customisations
 Customised theme and configuration for LXDE desktop on Raspberry Pi. Inherited
 from raspberrypi-ui-mods, this package uses 'LXDE-pt' instead of 'LXDE-pi'
 lxsession ID. This ensures that changes to 'raspberrypi-ui-mods' do not affect
 the UI of pi-topOS.
